.button {
    display: flex;
    justify-content: center;
    font-size: 1em;
    background-color: #FF0000;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 140px 0px 140px;
    position: relative;
}

.button:hover {
    background-color: #DC0B0B;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
	max-width: 350px;
	display: grid;
	grid-template-rows: 100px 100px 100px;
	grid-template-columns: 100px 100px 100px;
	grid-gap: 20px 15px;
	background-color: blue;
	border-radius: 20px;
	border-style: none;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	padding-left: 35px;
}

.myPic {
    flex: 2;
    border: 2px solid black;
}

.myBioDetais {
    flex: 1;
}

.img {
    width: 100%;
    height: auto;
}